:root {
  --white: #FFFFFF;

  --black: #000000;

  --gray-500: #707070;

  --gray-800: #353535;
  
  --red-300: #FF3737;
  
  --purple-700: #7A2B58;
  
  --yellow-400: #FFCC33;

  --green-300: #03B5B0;
}