.containerFooter {
  display: flex;
  justify-content: center;
  background-color: var(--purple-700);

  width: 100%;
  height: 18.6875rem;
}

.containerFooter img {
  width: 20.4619rem;
}

/* responsive */

/* 1920 */
@media (max-width: 1920px) {

}

/* 1024 */
@media (max-width: 1024px) {

}

/* 360 */
@media (max-width: 360px) {

  .containerFooter img {
    width: 15.0175rem;
  }

}