.containerSuitcase {
  width: 100%;
  height: 30.125rem;
  
  background-color: var(--purple-700);

  font-size: 20px;

  color: var(--yellow-400);
}

.contentSuitcase {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.SuitcaseTitle {
  font-size: 2.75rem;
  font-weight: 600;
  
  color: var(--yellow-400);

  margin-top: 3.9375rem;
}

.borderSuitcase {
  display: flex;

  width: 51.875rem;
  height: 17.1875rem;

  border: 0.1875rem solid var(--white);
  border-radius: 1rem;

  margin-top: 2.0625rem;
}

.suitcaseIcon {
  display: flex;
  align-items: center;

  margin: 0 5.425rem 0 3.3625rem;
}

.suitecaseBox {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 28.875rem;

  row-gap: 30px;
}

#square {
  font-size: 30px;
}

.suitcaseList {
  line-height: 20px;
}

@media (max-width: 1024px) {
  .containerSuitcase {
    width: 100%;
    height: 531px;

    font-size: 20px;
  }
  
  .borderSuitcase {
    width: 85%;
    height: 353px;

    border: 0.1875rem solid var(--white);

    position: relative;

    top: -10px;
  }
}

@media (max-width: 420px) {
  .containerSuitcase {
    width: 100%;
    height: 600px;

    font-size: 20px;
  }

  .contentSuitcase {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .borderSuitcase {
    width: 85%;
    height: 403px;

    border: 0.1875rem solid var(--white);

    position: relative;

    top: -10px;
  }

  .suitcaseIcon {
    position: relative;

    top: -220px;
    left: 43px;
  }

  .SuitcaseTitle {
    font-size: 2rem;

    position: relative;

    top: 130px;
  }

  .suitecaseBox {
    font-size: 16px;

    height: 300px;

    position: relative;

    top: 50px;
    left: -280px;
  }

  .suitcaseText {
    width: 310px;

    margin-top: 5rem;
  }
}

@media (max-width: 360px) {
  .containerSuitcase {
    width: 100%;
    height: 661px;

    font-size: 20px;
  }

  .contentSuitcase {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .borderSuitcase {
    width: 85%;
    height: 493px;

    border: 0.1875rem solid var(--white);

    position: relative;

    top: -10px;
  }

  .SuitcaseTitle {
    font-size: 2rem;

    position: relative;

    top: 150px;
  }

  .suitcaseIcon {
    position: relative;

    top: -250px;
    left: 20px;
  }

  .suitecaseBox {
    font-size: 16px;

    position: relative;

    top: 50px;
    left: -280px;
  }

  .suitcaseText {
    width: 282px;
  }
}
