.containerTop {
  background-image: url(../assets/imagens/header-1024.webp);
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 100vw 58.5625rem;

  width: 100%;
  height: 58.5625rem;
}

.contentTop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logodotTop {
  background-image: url(../assets/icones/icon-logo-header.svg);
  background-repeat: no-repeat;
  background-size: contain;

  margin-top: 6.25rem;

  width: 16rem;
  height: 4.6875rem;
}

.dotTitleTop {
  font-size: 5.4375rem;
  font-weight: bold;

  text-transform: uppercase;

  color: var(--white);

  margin-top: 4.25rem;
}

.dotTextTop {
  font-size: 1.875rem;

  text-transform: uppercase;

  color: var(--white);
}

@media (max-width: 1920px) {
  .containerTop {
    background-image: url(../assets/imagens/header-1920.webp);
  }
}

/* 1024 */
@media (max-width: 1024px) {
  :root {
    font-size: 87.5%;
  }

  .containerTop {
    background-image: url(../assets/imagens/header-1024.webp);
  }
}

@media (max-width: 420px) {
  .logodotTop {
    background-image: url(../assets/icones/icon-logo-header.svg);
    background-repeat: no-repeat;
    background-size: contain;

    margin-top: 6.25rem;
  
    width: 19rem;
    height: 5.6875rem;
  }
  
  .dotTitleTop {
    font-size: 4rem;
    font-weight: bold;

    text-transform: uppercase;

    color: var(--white);
  
    margin-top: 4.25rem;
  }
  
  .dotTextTop {
    font-size: 1.5rem;

    color: var(--white);

    text-transform: uppercase;

    margin-top: 1rem;
  }
}

@media (max-width: 360px) {
  .containerTop {
    background-image: url(../assets/imagens/header-360.webp);
    background-size: cover;

    width: 100%;
    height: 446px;
  }

  .logodotTop {
    background-image: url(../assets/icones/icon-logo-header.svg);
    background-repeat: no-repeat;
    background-size: contain;

    margin-top: 53.5px;

    width: 138.85px;
    height: 41.25px;

    z-index: 5;
  }

  .dotTitleTop {
    font-size: 45px;
    font-weight: bold;

    text-transform: uppercase;

    color: var(--white);

    margin-top: 6.45rem;
  }

  .dotTextTop {
    font-size: 18px;

    color: var(--white);

    text-transform: uppercase;
  }
}
